### Head 
Head is use a limit but start fetching rows from **start** if no value in param is giving then its just fetch 5 rows 

### Tail
Head is use a limit but start fetching rows from **bottom** if no value in param is giving then its just fetch 5 rows 
### Examples

**Head example:**
```python
print(df.head(2))
```

**Tail example:**
```python
print(df.tail(2))
```

In [28]:

import random
import pandas as pd

In [29]:
js = pd.read_json("sample_Data.json")

print("Display first 10 rows of js")
print(js.head(10))

Display first 10 rows of js
   id                                         name  \
0   1                              Apple iPhone 12
1   2                           Samsung Galaxy S21
2   3                           Sony PlayStation 5
3   4            LG OLED55CXPUA 55-inch 4K OLED TV
4   5  Bose QuietComfort 35 II Wireless Headphones
5   6                    Fitbit Versa 3 Smartwatch
6   7                       KitchenAid Stand Mixer
7   8           Dyson V11 Absolute Cordless Vacuum
8   9                   Ninja Foodi Smart XL Grill
9  10              Canon EOS Rebel T8i DSLR Camera

                                         description    price  \
0  The Apple iPhone 12 features a 6.1-inch Super ...   999.00
1  The Samsung Galaxy S21 features a 6.2-inch Dyn...   799.00
2  The Sony PlayStation 5 features an AMD Zen 2-b...   499.99
3  The LG OLED55CXPUA 55-inch 4K OLED TV features...  1599.99
4  The Bose QuietComfort 35 II Wireless Headphone...   299.00
5  The Fitbit Versa 3 Smartwatch features a built...   229.95
6  The KitchenAid Stand Mixer features a 5-quart ...   399.99
7  The Dyson V11 Absolute Cordless Vacuum feature...   699.99
8  The Ninja Foodi Smart XL Grill features 6-in-1...   279.99
9  The Canon EOS Rebel T8i DSLR Camera features a...   899.00

          category                                              image
0      Electronics  https://www.apple.com/newsroom/images/product/...
1      Electronics  https://images.samsung.com/is/image/samsung/p6...
2      Electronics  https://www.sony.com/image/44baa604124b770c824...
3      Electronics  https://www.lg.com/us/images/tvs/md07501804/ga...
4      Electronics  https://assets.bose.com/content/dam/Bose_DAM/W...
5      Electronics  https://www.fitbit.com/global/content/dam/fitb...
6   Home & Kitchen  https://www.kitchenaid.com/content/dam/global/...
7  Home Appliances  https://www.dysoncanada.ca/dam/dyson/images/pr...
8   Home & Kitchen  https://www.ninjakitchen.com/medias/Ninja-OP50...
9      Electronics  https://www.canon.com.au/-/media/images/produc...

In [30]:

print("Display Last 10 rows of js")
print(js.tail(10))

Display Last 10 rows of js
    id                                               name  \
10  11                                  Apple AirPods Pro
11  12        Bose QuietComfort 35 II Wireless Headphones
12  13                    Fitbit Charge 4 Fitness Tracker
13  14                              Samsung Galaxy Watch3
14  15  Sony WH-1000XM4 Wireless Noise-Cancelling Head...
15  16          Breville Barista Express Espresso Machine
16  17                        Keurig K-Elite Coffee Maker
17  18                     iRobot Roomba i7+ Robot Vacuum
18  19                   Ninja Foodi Digital Air Fry Oven
19  20                   Cuisinart ICE-70 Ice Cream Maker

                                          description   price        category  \
10  The Apple AirPods Pro feature active noise can...  249.00     Electronics
11  The Bose QuietComfort 35 II Wireless Headphone...  299.00     Electronics
12  The Fitbit Charge 4 Fitness Tracker features G...  129.95     Electronics
13  The Samsung Galaxy Watch3 features a rotating ...  399.99     Electronics
14  The Sony WH-1000XM4 Wireless Noise-Cancelling ...  349.99     Electronics
15  The Breville Barista Express Espresso Machine ...  699.95  Home & Kitchen
16  The Keurig K-Elite Coffee Maker features a str...  169.99  Home & Kitchen
17  The iRobot Roomba i7+ Robot Vacuum features au...  799.99  Home & Kitchen
18  The Ninja Foodi Digital Air Fry Oven features ...  209.99  Home & Kitchen
19  The Cuisinart ICE-70 Ice Cream Maker features ...  139.99  Home & Kitchen

                                                image
10  https://www.apple.com/v/airpods-pro/b/images/m...
11  https://assets.bose.com/content/dam/Bose_DAM/W...
12  https://www.fitbit.com/global/content/dam/fitb...
13  https://images.samsung.com/is/image/samsung/as...
14  https://www.sony.com/image/1cdd6354c4cd21cc4f7...
15  https://www.breville.com/content/dam/breville/...
16  https://www.keurig.com/content/dam/global-ecom...
17  https://store.irobot.com/default/i7-vacuuming-...
18  https://www.ninjakitchen.com/static/img/produc...
19  https://www.cuisinart.com/share/images/product...

### info()

#### this func return this

1- Number of rows and cloumns \
2- column name \
3- DataType int64 float64 object \
4- non null counts

In [31]:
print(js.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           20 non-null     int64
 1   name         20 non-null     object
 2   description  20 non-null     object
 3   price        20 non-null     float64
 4   category     20 non-null     object
 5   image        20 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.1+ KB
None

In [32]:
data = ({
    "Name":["Ram","Shyam","Baburao"],
    "Age":[23,44,77],
    "City":["Mumbai","Pune","Nagpur"]
})
df = pd.DataFrame(data)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None


### describe()

The `describe()` function in pandas provides a summary of the statistical properties of a DataFrame. It returns a DataFrame that contains:

1. **Count**: The number of non-null entries for each column.
2. **Mean**: The average value for each numeric column.
3. **Standard Deviation (std)**: The measure of the amount of variation or dispersion of the numeric values.
4. **Minimum (min)**: The smallest value in each numeric column.
5. **25th Percentile (25%)**: The value below which 25% of the data falls.
6. **50th Percentile (50%)**: The median value, where 50% of the data falls below this value.
7. **75th Percentile (75%)**: The value below which 75% of the data falls.
8. **Maximum (max)**: The largest value in each numeric column.

This function is useful for quickly understanding the distribution and central tendencies of the data in a DataFrame.

In [34]:

employees = {
    "name": ["Alice Johnson", "Brian Lee", "Carmen Ortiz", "Deepak Singh", "Elena Petrova", 
             "Frank Wright", "Grace Lee", "Henry Adams", "Ivy Chen", "Jack Smith", 
             "Kathy Brown", "Leo White", "Mia Green", "Nina Black", "Oscar Blue"],
    "age": [29, 33, 31, 28, 35, 
            40, 25, 38, 30, 27, 
            45, 32, 29, 36, 41],
    "salary": [82000, 115000, 105000, 89000, 97000, 
               110000, 78000, 95000, 102000, 88000, 
               120000, 85000, 90000, 94000, 100000],
    "performance_score": [random.randint(1, 100) for _ in range(15)]
}
employee_df = pd.DataFrame(employees)
print(employee_df)
print(employee_df.describe())

             name  age  salary  performance_score
0   Alice Johnson   29   82000                  9
1       Brian Lee   33  115000                 70
2    Carmen Ortiz   31  105000                 28
3    Deepak Singh   28   89000                 10
4   Elena Petrova   35   97000                 81
5    Frank Wright   40  110000                 36
6       Grace Lee   25   78000                 89
7     Henry Adams   38   95000                 65
8        Ivy Chen   30  102000                  6
9      Jack Smith   27   88000                 12
10    Kathy Brown   45  120000                 75
11      Leo White   32   85000                 92
12      Mia Green   29   90000                 52
13     Nina Black   36   94000                 21
14     Oscar Blue   41  100000                  9
             age         salary  performance_score
count  15.000000      15.000000          15.000000
mean   33.266667   96666.666667          43.666667
std     5.762770   12116.498001          32.471233
min    25.000000   78000.000000           6.000000
25%    29.000000   88500.000000          11.000000
50%    32.000000   95000.000000          36.000000
75%    37.000000  103500.000000          72.500000
max    45.000000  120000.000000          92.000000

### Shape and columns
1- How big is your dataset\
2- Whats are the names of columns

In [36]:
print("Shape",df.shape)
print("Columns",df.columns)

Shape (3, 3)
Columns Index(['Name', 'Age', 'City'], dtype='object')

### filtering data

In [63]:
print("data", employee_df[['name','salary']] )
print("data", employee_df[employee_df['salary']<90000] )

data              name  salary
0   Alice Johnson   82000
1       Brian Lee  115000
2    Carmen Ortiz  105000
3    Deepak Singh   89000
4   Elena Petrova   97000
5    Frank Wright  110000
6       Grace Lee   78000
7     Henry Adams   95000
8        Ivy Chen  102000
9      Jack Smith   88000
10    Kathy Brown  120000
11      Leo White   85000
12      Mia Green   90000
13     Nina Black   94000
14     Oscar Blue  100000
data              name  age  salary  performance_score
0   Alice Johnson   29   82000                  9
3    Deepak Singh   28   89000                 10
6       Grace Lee   25   78000                 89
9      Jack Smith   27   88000                 12
11      Leo White   32   85000                 92