In [199]:
import pandas as pd
import random

In [200]:
employees = {
    "name": ["Alice Johnson", "Joe Smith", "Carmen Ortiz", "Deepak Singh", "Elena Petrova", 
             "Frank Wright", "Grace Lee", "Henry Adams", "Ivy Chen", "Jack Smith", 
             "Kathy Brown", "Leo White", "Mia Green", "Nina Black", "Oscar Blue"],
    "age": [29, 33, None, 28, 35, 
            40, 25, 38, 30, 27, 
            45, 32, 29, 36, 41],
    "salary": [82000, 115000, 105000, 89000, 97000, 
               110000, 78000, 95000, 102000, 88000, 
               120000, None, 90000, 94000, 100000],
    "performance_score": [random.randint(1, 100) for _ in range(15)]
}

df = pd.DataFrame(employees)

In [201]:
df["Department"] = [random.choice(["Sales","Coding","HR","Product Management",]) for _ in range(15)]

df["salary"]+= (df["salary"]*0.1)
df.insert(0,"id",[x for x in range(1,16)])
print(df)

    id           name   age    salary  performance_score          Department
0    1  Alice Johnson  29.0   90200.0                 21  Product Management
1    2      Joe Smith  33.0  126500.0                 80  Product Management
2    3   Carmen Ortiz   NaN  115500.0                 64                  HR
3    4   Deepak Singh  28.0   97900.0                 24               Sales
4    5  Elena Petrova  35.0  106700.0                 99              Coding
5    6   Frank Wright  40.0  121000.0                 46               Sales
6    7      Grace Lee  25.0   85800.0                 17  Product Management
7    8    Henry Adams  38.0  104500.0                 24              Coding
8    9       Ivy Chen  30.0  112200.0                 76              Coding
9   10     Jack Smith  27.0   96800.0                 47                  HR
10  11    Kathy Brown  45.0  132000.0                 56                  HR
11  12      Leo White  32.0       NaN                 81                  HR
12  13      Mia Green  29.0   99000.0                 98               Sales
13  14     Nina Black  36.0  103400.0                 89              Coding
14  15     Oscar Blue  41.0  110000.0                 27              Coding

In [202]:
df.loc[0,"name"] = "Himanshu"
print(df)

    id           name   age    salary  performance_score          Department
0    1       Himanshu  29.0   90200.0                 21  Product Management
1    2      Joe Smith  33.0  126500.0                 80  Product Management
2    3   Carmen Ortiz   NaN  115500.0                 64                  HR
3    4   Deepak Singh  28.0   97900.0                 24               Sales
4    5  Elena Petrova  35.0  106700.0                 99              Coding
5    6   Frank Wright  40.0  121000.0                 46               Sales
6    7      Grace Lee  25.0   85800.0                 17  Product Management
7    8    Henry Adams  38.0  104500.0                 24              Coding
8    9       Ivy Chen  30.0  112200.0                 76              Coding
9   10     Jack Smith  27.0   96800.0                 47                  HR
10  11    Kathy Brown  45.0  132000.0                 56                  HR
11  12      Leo White  32.0       NaN                 81                  HR
12  13      Mia Green  29.0   99000.0                 98               Sales
13  14     Nina Black  36.0  103400.0                 89              Coding
14  15     Oscar Blue  41.0  110000.0                 27              Coding

In [203]:
df["salary"] = df["salary"]* 1.05
print(df)

    id           name   age    salary  performance_score          Department
0    1       Himanshu  29.0   94710.0                 21  Product Management
1    2      Joe Smith  33.0  132825.0                 80  Product Management
2    3   Carmen Ortiz   NaN  121275.0                 64                  HR
3    4   Deepak Singh  28.0  102795.0                 24               Sales
4    5  Elena Petrova  35.0  112035.0                 99              Coding
5    6   Frank Wright  40.0  127050.0                 46               Sales
6    7      Grace Lee  25.0   90090.0                 17  Product Management
7    8    Henry Adams  38.0  109725.0                 24              Coding
8    9       Ivy Chen  30.0  117810.0                 76              Coding
9   10     Jack Smith  27.0  101640.0                 47                  HR
10  11    Kathy Brown  45.0  138600.0                 56                  HR
11  12      Leo White  32.0       NaN                 81                  HR
12  13      Mia Green  29.0  103950.0                 98               Sales
13  14     Nina Black  36.0  108570.0                 89              Coding
14  15     Oscar Blue  41.0  115500.0                 27              Coding

In [204]:
# df.drop(columns=["Department","performance_score"],inplace=True)
# # df = df.drop(columns=["Department","performance_score"], inplace=False)
# print(df)

In [205]:
print(df.isna().sum())

id                   0
name                 0
age                  1
salary               1
performance_score    0
Department           0
dtype: int64

### Handling Missing Data

##### fillna(value, inplace=True)
Fills missing values with the specified value. When `inplace=True`, modifies the DataFrame directly.

##### dropna(axis=0, inplace=True)
##### interpolate(method='linear', axis=0, inplace=True)
Fills `NaN` values using an interpolation method. By default, it uses linear interpolation between data points. When `inplace=True`, modifies the DataFrame directly.

In [206]:
# df["age"].fillna(round(df["age"].mean()),inplace=True)
df["salary"].fillna(round(df["salary"].mean()),inplace=True)

df["age"].interpolate(method='linear',axis=0,inplace=True)

# df.dropna(axis=1,inplace=True)
print(df)

    id           name   age    salary  performance_score          Department
0    1       Himanshu  29.0   94710.0                 21  Product Management
1    2      Joe Smith  33.0  132825.0                 80  Product Management
2    3   Carmen Ortiz  30.5  121275.0                 64                  HR
3    4   Deepak Singh  28.0  102795.0                 24               Sales
4    5  Elena Petrova  35.0  112035.0                 99              Coding
5    6   Frank Wright  40.0  127050.0                 46               Sales
6    7      Grace Lee  25.0   90090.0                 17  Product Management
7    8    Henry Adams  38.0  109725.0                 24              Coding
8    9       Ivy Chen  30.0  117810.0                 76              Coding
9   10     Jack Smith  27.0  101640.0                 47                  HR
10  11    Kathy Brown  45.0  138600.0                 56                  HR
11  12      Leo White  32.0  112612.0                 81                  HR
12  13      Mia Green  29.0  103950.0                 98               Sales
13  14     Nina Black  36.0  108570.0                 89              Coding
14  15     Oscar Blue  41.0  115500.0                 27              Coding

C:\Users\ACER\AppData\Local\Temp\ipykernel_11108\2860662299.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["salary"].fillna(round(df["salary"].mean()),inplace=True)
C:\Users\ACER\AppData\Local\Temp\ipykernel_11108\2860662299.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["age"].interpolate(method='linear',axis=0,inplace=True)