In [76]:
import pandas as pd
import random

In [77]:
employees = {
    "name": ["Alice Johnson", "Joe Smith", "Carmen Ortiz", "Deepak Singh", "Elena Petrova", 
             "Frank Wright", "Grace Lee", "Henry Adams", "Ivy Chen", "Jack Smith", 
             "Kathy Brown", "Leo White", "Mia Green", "Nina Black", "Oscar Blue","Ramesh"],
    "age": [25, 30, 30, 25, 35, 
            40, 25, 35, 30, 25, 
            45, 35, 30, 35, 40,22],
    "salary": [82000, 115000, 105000, 89000, 97000, 
               110000, 78000, 95000, 102000, 88000, 
               120000, 90000, 90000, 94000, 100000,90000],
    "performance_score": [random.randint(1, 100) for _ in range(16)]
}

df = pd.DataFrame(employees)

In [78]:
df.sort_values(by=["salary"],ascending=[True],inplace=True,axis=0)
print(df)

             name  age  salary  performance_score
6       Grace Lee   25   78000                 76
0   Alice Johnson   25   82000                 69
9      Jack Smith   25   88000                 85
3    Deepak Singh   25   89000                 69
12      Mia Green   30   90000                 38
15         Ramesh   22   90000                 58
11      Leo White   35   90000                 12
13     Nina Black   35   94000                 17
7     Henry Adams   35   95000                 84
4   Elena Petrova   35   97000                 55
14     Oscar Blue   40  100000                 55
8        Ivy Chen   30  102000                 53
2    Carmen Ortiz   30  105000                  6
5    Frank Wright   40  110000                 19
1       Joe Smith   30  115000                 89
10    Kathy Brown   45  120000                  7

In [79]:
avg_salary = df['salary'].mean()
print(f"Average Salary: {avg_salary}")

Average Salary: 96562.5

In [80]:
grouped = df.groupby(["age","performance_score"])["salary"].median()
print(grouped)

age  performance_score
22   58                    90000.0
25   69                    85500.0
     76                    78000.0
     85                    88000.0
30   6                    105000.0
     38                    90000.0
     53                   102000.0
     89                   115000.0
35   12                    90000.0
     17                    94000.0
     55                    97000.0
     84                    95000.0
40   19                   110000.0
     55                   100000.0
45   7                    120000.0
Name: salary, dtype: float64

### merging

In [ ]:
emp2 = {
    # "name": [
    #     "Alice Johnson",
    #     "Joe Smith",
    #     "Carmen Ortiz",
    #     "Deepak Singh",
    #     "Elena Petrova",
    #     "Frank Wright",
    #     "Grace Lee",
    #     "Henry Adams",
    #     "Ivy Chen",
    #     "Jack Smith",
    #     "Kathy Brown",
    #     "Leo White",
    #     "Mia Green",
    #     "Nina Black",
    #     "Oscar Blue",
    #     "Himanshu"
    # ],
    "department": [
        random.choice(["Coding", "Product Management", "Sales", "HR"]) for _ in range(16)
    ],
}

df2 = pd.DataFrame(emp2)
# merged =pd.merge(df,df2,on="name",how="outer")
# merged = pd.concat([df,df2],axis=1)
# print(merged)

# for axis 0

df_reg = pd.DataFrame({
    "name": ["ram","Sham","ghanshyam"],
    "id":[x for x in range(1, 4)]
})

df_reg2 = pd.DataFrame({
    "name": ["mohan","sohan","rohan","rahul","anil","sunil","ajay"],
    "id": [x for x in range(5, 12)]
})


merged_reg = pd.concat([df_reg, df_reg2], axis=0)
print(merged_reg)
# print(merged_reg.groupby(["name"])["id"])

        name  id
0        ram   1
1       Sham   2
2  ghanshyam   3
0      mohan   5
1      sohan   6
2      rohan   7
3      rahul   8
4       anil   9
5      sunil  10
6       ajay  11
name
Sham          2
ajay         11
anil          9
ghanshyam     3
mohan         5
rahul         8
ram           1
rohan         7
sohan         6
sunil        10
Name: id, dtype: int64